{% extends 'daycard/base.html' %}
{% load static %}

{% block topbar_left %}
    <div class="col text-left">
    </div>
{% endblock %}

{% block contextual %}
	{% block inner_context %}
	{% endblock %}
	{% block endstrip %}
	    <div class="row w-75 gy-4 mx-auto" type="cardstrip">
	        <div class="row mt-4"></div>
	        <div class="row mt-4"></div>
		    <div class="col d-flex justify-content-center">
		        <div class="card" strip-colour="0">
		            <div class="card-body text-center" type="demo">
		                <p class="card-text">describe.</p>
		                <p class="card-text">your.</p>
		                <p class="card-text">day.</p>
		            </div>
		        </div>
		    </div>  
		    <div class="col d-flex justify-content-center">
		        <div class="card" strip-colour="1">
		            <div class="card-body text-center" type="demo">
		                <p class="card-text">describe.</p>
		                <p class="card-text">your.</p>
		                <p class="card-text">day.</p>
		            </div>
		        </div>
		    </div>   
		    <div class="col d-flex justify-content-center">
		        <div class="card" strip-colour="2">
		            <div class="card-body text-center" type="demo">
		                <p class="card-text">describe.</p>
		                <p class="card-text">your.</p>
		                <p class="card-text">day.</p>
		            </div>
		        </div>
		    </div>
		</div>         
	{% endblock %}
{% endblock %}