{% extends 'daycard/base.html' %}
{% load static %}

{% block title_block %}
	Home
{% endblock %}

{% block topbar_right %}
	{% if can_post == True %}
        <a href="{% url 'post' %}" id="post-link">
        	<img class="img-fluid fit-image w-25" src="{% static "images/plus.png" %}" alt="Post" type="postbtnimg">
        </a>
    {% else %}
		<a href="{% url 'profile' %}" id="profile-link">
        	{% if profile.picture %}
        		<img class="img-fluid fit-image w-25" src="{{ MEDIA_URL }}{{ profile.picture }}" alt="Post" id="topbarprofileimg">
        	{% else %}
        		<img class="img-fluid fit-image w-25" src="{% static "images/defaultprofile.png" %}" alt="Post" id="topbarprofileimg">
        	{% endif %}
        </a>
    {% endif %}
{% endblock %}


{% block contextual %}
	<div class="row w-75 mx-auto" id="cards">
	</div>
{% endblock %}
{% block contextual_js %}
	<script src="{% static 'js/daycard-jquery.js/' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/daycard-ajax.js/' %}" crossorigin="anonymous"></script>
{% endblock %}