{% extends 'daycard/base.html' %}
{% load static %}

{% block title_block %}
	Home
{% endblock %}

{% block contextual %}
	<div class="row w-75 mx-auto align-items-center" id="cards">
	    <div class="row gy-4 mx-auto">
	        <div class="row mt-5"></div>
            <div class="row mt-5"></div>
	        <div class="col d-flex justify-content-center">
				<div class="card" type="green">
					<div class="card-img-top d-flex align-items-center bg-transparent p-1">
				        <div>
				            <img class="img-fluid fit-image my-auto" src="{% static "images/defaultprofile.png" %}" alt="Profile image">
				        </div>
				        <h5 class="col p-2 mr-auto">Username</h5>
				        <h5 class="card-title p-2 mr-auto">09:41</h5>
				    </div>
				    <div class="card-body text-center">
					    <p class="card-text">word1</p>
					    <p class="card-text">word2</p>
					    <p class="card-text">word3</p>
					</div>
			    </div>
	        </div>
	        <div class="col d-flex justify-content-center">
				<div class="card" type="amber">
					<div class="card-img-top d-flex align-items-center bg-transparent p-1">
				        <div>
				            <img class="img-fluid fit-image my-auto" src="{% static "images/defaultprofile.png" %}" alt="Profile image">
				        </div>
				        <h5 class="col p-2 mr-auto">Username</h5>
				        <h5 class="card-title p-2 mr-auto">09:41</h5>
				    </div>
				    <div class="card-body text-center">
					    <p class="card-text">word1</p>
					    <p class="card-text">word2</p>
					    <p class="card-text">word3</p>
					</div>
			    </div>
	        </div>  
	        <div class="col d-flex justify-content-center">
				<div class="card" type="red">
					<div class="card-img-top d-flex align-items-center bg-transparent p-1">
				        <div>
				            <img class="img-fluid fit-image my-auto" src="{% static "images/defaultprofile.png" %}" alt="Profile image">
				        </div>
				        <h5 class="col p-2 mr-auto">Username</h5>
				        <h5 class="card-title p-2 mr-auto">09:41</h5>
				    </div>
				    <div class="card-body text-center">
					    <p class="card-text">word1</p>
					    <p class="card-text">word2</p>
					    <p class="card-text">word3</p>
					</div>
			    </div>
	        </div>  	
	        <div class="w-100"></div>    	          
		</div>
	</div>
{% endblock %}