{% extends 'daycard/base.html' %}
{% load static %}

{% block title_block %}
	Post
{% endblock %}

{% block topbar_left %}
    <div class="col text-left">
        <div class="col text-left">
            <a href="{% url 'home' %}" id="arrow-left">
            	<img class="img-fluid fit-image w-25" src="{% static "images/arrow_left.png" %}" alt="Back" type="arrow-left">
            </a>
        </div>
    </div>
{% endblock %}

{% block topbar_right %}
    <div class="col text-end">
    </div>
{% endblock %}

{% block contextual %}
	<div class="container-fluid w-75" id="post-container">
		<div class="row mt-5"></div>
        <div class="row mt-5"></div>
		<div class="row gy-2 gx-5 d-flex mx-auto">
			<div class="col-offset-4 px-4 d-flex mx-auto text-start align-content-center">
				<h4>Post today's Day Card</h4>
			</div>
			<div class="col-xxl-4 d-flex mx-auto justify-content-center">
				<div class="card d-flex mx-auto align-items-center" type="preview" data-colour="0" id="preview1">
				    <div class="card-body text-center">
					    <input type="text" purpose="daycardfield" fieldnumber="1" placeholder="Type word 1 here" maxlength="20">
					    <input type="text" purpose="daycardfield" fieldnumber="2" placeholder="Type word 2 here" maxlength="20">
					    <input type="text" purpose="daycardfield" fieldnumber="3" placeholder="Type word 3 here" maxlength="20">
					</div>
			    </div>
	        </div>
			<div class="col-xxl-4 d-flex mx-auto justify-content-center">
				<div class="card d-flex mx-auto align-items-center" type="preview" data-colour="0" id="preview2">
				    <div class="card-body text-center">
					    <textarea type="text" id="daycardcaptionfield" purpose="daycardcaptionfield" placeholder="Type caption here" maxlength="45"></textarea>
					    <p class="card-text" id="caption-length">0 / 45</p>
					</div>
			    </div>
	        </div>
	        <div class="col-xxl-4">
		        <div class="row d-flex mx-auto align-items-center justify-content-center">
					<div class="col-xxl">
						<h6>Choose card vibe</h6>
					</div>
					<div class="g-2"></div>
					<div class="card d-flex mx-auto align-items-center justify-content-center" type="colour-picker">
						<div class="card-body d-flex mx-auto align-items-center justify-content-center">
				    		<button type="button" class="btn btn-dark" btntype="green-btn" id="green-btn" data-colour="0"></button>
				    		<button type="button" class="btn btn-dark" btntype="amber-btn" id="amber-btn" data-colour="1"></button>
				    		<button type="button" class="btn btn-dark" btntype="red-btn" id="red-btn" data-colour="2"></button>
				    	</div>
					</div>
					<div class="g-3"></div>
				    <button type="button" class="btn btn-dark" btntype="post-daycard-btn">POST DAY CARD</button>
			    </div>
			</div>
        </div>	
{% endblock %}
{% block contextual_js %}
	<script src="{% static "js/post-ajax.js" %}" crossorigin="anonymous"></script>
	<script src="{% static "js/post-jquery.js" %}" crossorigin="anonymous"></script>
{% endblock %}