{% extends 'daycard/form_base.html' %}
{% block title_block %}
    Register
{% endblock %}
{% block inner_context %}
    <div class="row w-75 mx-auto align-items-center" id="cards">
        <div class="row gy-4 mx-auto">
            <div class="row mt-5"></div>
            <div class="row mt-5"></div>
            <h1>Create an account</h1>
            <form method="post" action=".">
                {% csrf_token %}
                {% for key, value in form.errors.items %}
                    {{ value }}
                {% endfor %}
                <p class="required">
                    <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="Username">
                </p>
                <p class="required">
                    <input type="email" name="email" required="" id="id_email" placeholder="Email">
                </p>
                <p class="required">
                    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" aria-autocomplete="list" placeholder="Password">
                </p>
                <p class="required">
                    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Confirm">
                </p>
                <input type="submit" value="Sign up" />
            </form>   
        </div>
    </div>
{% endblock %}